
NODE_ENV=

PORT=

CLIENT_URL = 

SERVER_URL = 

# Python's server url
AI_URL=

# ───────────────────────────────────────────
# GMAIL INTEGRATIONS
# ───────────────────────────────────────────

GMAIL_USER=

GMAIL_APP_PASSWORD=
 
ACCESS_TOKEN_SECRET=


# ───────────────────────────────────────────
# PostgreSQL
# ───────────────────────────────────────────

# DEV — fill individual parts (Docker)
POSTGRES_USER=learnx
POSTGRES_PASSWORD=
POSTGRES_DB=learnx_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# DEV : Once you run the server the first two logs in the console gives you a db connection link - paste it here for development - It is needed for prisma to connect with our db to generate migrations and push it :  )  
# PROD : Paste the conn string given by you db provider 
DATABASE_URL=

# ───────────────────────────────────────────
# Redis
# ───────────────────────────────────────────

# DEV — fill individual parts (Docker)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# PROD — fill this full URL, leave blank in dev
REDIS_URL=

#WebHook secret should be same as ai/.env so that not anyone can call this webhook api 
WEBHOOK_SECRET=

# Backblaze B2 configs : 
B2_KEY_ID=
B2_APP_KEY=
B2_BUCKET_NAME=
B2_REGION=
B2_ENDPOINT=
B2_PUBLIC_URL=
