# Just For Development , If you are deploying without using docker for these 3rd party services then you can ignore this and directly fill next env inside server/api and server/ai :)

POSTGRES_USER=learnx
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=learnx

REDIS_PASSWORD=your_redis_password

QDRANT_API_KEY=your_qdrant_api_key