APP_ENV=development
APP_PORT
# ───────────────────────────────────────────
# Redis
# ───────────────────────────────────────────

# DEV — fill individual parts (Docker)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# PROD — fill this full URL, leave blank in dev
REDIS_URL=

# ───────────────────────────────────────────
# Qdrant
# ───────────────────────────────────────────

# DEV — fill individual parts (Docker)
QDRANT_HOST=localhost
QDRANT_PORT=6333

# PROD — fill this full URL, leave blank in dev
QDRANT_URL=
# PROD and DEV — fill this with Qdrant api key given by your provider or local provider
QDRANT_API_KEY=

# ───────────────────────────────────────────
# OpenAI
# ───────────────────────────────────────────

# fill in both dev and prod
OPENAI_API_KEY=     

# ───────────────────────────────────────────
# Whisper
# ───────────────────────────────────────────
# use "api" for PROD and "local" for DEV
WHISPER_MODE=local
# DEV - use "cuda" if you have GPU and cuda alr setup , or use "cpu" if you wanna use cpu for transcription
WHISPER_DEVICE=cuda

# ───────────────────────────────────────────
# Youtube Cookie File --> Only in production 
# ───────────────────────────────────────────

YOUTUBE_COOKIE_FILE=/opt/apps/LearnX/youtube_cookies.txt